<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>922446398022-b5j2dvqr5meashfrfc25mfder37ld324.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922446398022-b5j2dvqr5meashfrfc25mfder37ld324</string>
	<key>API_KEY</key>
	<string>AIzaSyBrceoFtw-G02mVW2R2gP2xSjZmKtzIwik</string>
	<key>GCM_SENDER_ID</key>
	<string>922446398022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cubi.SwipeMatchFirestore</string>
	<key>PROJECT_ID</key>
	<string>swipematchfirestore-50aad</string>
	<key>STORAGE_BUCKET</key>
	<string>swipematchfirestore-50aad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922446398022:ios:54bf5411d2adabc7</string>
	<key>DATABASE_URL</key>
	<string>https://swipematchfirestore-50aad.firebaseio.com</string>
</dict>
</plist>